adlfs==2024.12.0 ; python_full_version == "3.12.7"
aiohappyeyeballs==2.4.4 ; python_full_version == "3.12.7"
aiohttp==3.11.11 ; python_full_version == "3.12.7"
aiosignal==1.3.2 ; python_full_version == "3.12.7"
alembic==1.14.1 ; python_full_version == "3.12.7"
annotated-types==0.7.0 ; python_full_version == "3.12.7"
antlr4-python3-runtime==4.13.2 ; python_full_version == "3.12.7"
anyio==4.8.0 ; python_full_version == "3.12.7"
attrs==25.1.0 ; python_full_version == "3.12.7"
azure-core==1.32.0 ; python_full_version == "3.12.7"
azure-datalake-store==0.0.53 ; python_full_version == "3.12.7"
azure-identity==1.19.0 ; python_full_version == "3.12.7"
azure-storage-blob==12.24.1 ; python_full_version == "3.12.7"
cachetools==5.5.2 ; python_full_version == "3.12.7"
certifi==2024.12.14 ; python_full_version == "3.12.7"
cffi==1.17.1 ; python_full_version == "3.12.7"
charset-normalizer==3.4.1 ; python_full_version == "3.12.7"
click==8.1.8 ; python_full_version == "3.12.7"
colorama==0.4.6 ; python_full_version == "3.12.7" and platform_system == "Windows"
coloredlogs==14.0 ; python_full_version == "3.12.7"
cryptography==44.0.0 ; python_full_version == "3.12.7"
dagster-cloud-cli==1.10.4 ; python_full_version == "3.12.7"
dagster-cloud==1.10.4 ; python_full_version == "3.12.7"
dagster-pipes==1.10.4 ; python_full_version == "3.12.7"
dagster-polars==0.26.4 ; python_full_version == "3.12.7"
dagster==1.10.4 ; python_full_version == "3.12.7"
deprecated==1.2.18 ; python_full_version == "3.12.7"
distro==1.9.0 ; python_full_version == "3.12.7"
docstring-parser==0.16 ; python_full_version == "3.12.7"
faiss-cpu==1.9.0.post1 ; python_full_version == "3.12.7"
filelock==3.17.0 ; python_full_version == "3.12.7"
frozenlist==1.5.0 ; python_full_version == "3.12.7"
fsspec==2024.9.0 ; python_full_version == "3.12.7"
github3-py==4.0.1 ; python_full_version == "3.12.7"
google-auth==2.38.0 ; python_full_version == "3.12.7"
googleapis-common-protos==1.66.0 ; python_full_version == "3.12.7"
greenlet==3.1.1 ; python_full_version == "3.12.7" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio-health-checking==1.70.0 ; python_full_version == "3.12.7"
grpcio==1.70.0 ; python_full_version == "3.12.7"
h11==0.14.0 ; python_full_version == "3.12.7"
hdbscan==0.8.40 ; python_full_version == "3.12.7"
httpcore==1.0.7 ; python_full_version == "3.12.7"
httpx==0.28.1 ; python_full_version == "3.12.7"
humanfriendly==10.0 ; python_full_version == "3.12.7"
idna==3.10 ; python_full_version == "3.12.7"
importlib-metadata==8.5.0 ; python_full_version == "3.12.7"
isodate==0.7.2 ; python_full_version == "3.12.7"
jinja2==3.1.5 ; python_full_version == "3.12.7"
jiter==0.8.2 ; python_full_version == "3.12.7"
joblib==1.4.2 ; python_full_version == "3.12.7"
json-repair==0.30.3 ; python_full_version == "3.12.7"
llvmlite==0.43.0 ; python_full_version == "3.12.7"
mako==1.3.8 ; python_full_version == "3.12.7"
markdown-it-py==3.0.0 ; python_full_version == "3.12.7"
markupsafe==3.0.2 ; python_full_version == "3.12.7"
mdurl==0.1.2 ; python_full_version == "3.12.7"
msal-extensions==1.2.0 ; python_full_version == "3.12.7"
msal==1.31.1 ; python_full_version == "3.12.7"
multidict==6.1.0 ; python_full_version == "3.12.7"
networkx==3.4.2 ; python_full_version == "3.12.7"
numba==0.60.0 ; python_full_version == "3.12.7"
numpy==2.0.2 ; python_full_version == "3.12.7"
openai==1.60.2 ; python_full_version == "3.12.7"
opentelemetry-api==1.29.0 ; python_full_version == "3.12.7"
opentelemetry-exporter-otlp-proto-common==1.29.0 ; python_full_version == "3.12.7"
opentelemetry-exporter-otlp-proto-grpc==1.29.0 ; python_full_version == "3.12.7"
opentelemetry-exporter-otlp-proto-http==1.29.0 ; python_full_version == "3.12.7"
opentelemetry-proto==1.29.0 ; python_full_version == "3.12.7"
opentelemetry-sdk==1.29.0 ; python_full_version == "3.12.7"
opentelemetry-semantic-conventions==0.50b0 ; python_full_version == "3.12.7"
packaging==24.2 ; python_full_version == "3.12.7"
pandas==2.2.3 ; python_full_version == "3.12.7"
pex==2.32.0 ; python_full_version == "3.12.7"
plotext==5.3.2 ; python_full_version == "3.12.7"
polars==1.21.0 ; python_full_version == "3.12.7"
portalocker==2.10.1 ; python_full_version == "3.12.7"
prompt-toolkit==3.0.50 ; python_full_version == "3.12.7"
propcache==0.2.1 ; python_full_version == "3.12.7"
protobuf==5.29.3 ; python_full_version == "3.12.7"
psutil==6.1.1 ; python_full_version == "3.12.7" and platform_system == "Windows"
psycopg==3.2.4 ; python_full_version == "3.12.7"
pyarrow==19.0.0 ; python_full_version == "3.12.7"
pyasn1-modules==0.4.1 ; python_full_version == "3.12.7"
pyasn1==0.6.1 ; python_full_version == "3.12.7"
pycparser==2.22 ; python_full_version == "3.12.7"
pydantic-core==2.27.2 ; python_full_version == "3.12.7"
pydantic==2.10.6 ; python_full_version == "3.12.7"
pygments==2.19.1 ; python_full_version == "3.12.7"
pyjwt[crypto]==2.10.1 ; python_full_version == "3.12.7"
pynndescent==0.5.13 ; python_full_version == "3.12.7"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_full_version == "3.12.7"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.7"
python-dotenv==1.0.1 ; python_full_version == "3.12.7"
pytz==2024.2 ; python_full_version == "3.12.7"
pywin32==308 ; platform_system == "Windows" and python_full_version == "3.12.7"
pyyaml==6.0.2 ; python_full_version == "3.12.7"
questionary==2.1.0 ; python_full_version == "3.12.7"
requests==2.32.3 ; python_full_version == "3.12.7"
rich==13.9.4 ; python_full_version == "3.12.7"
rsa==4.9 ; python_full_version == "3.12.7"
scikit-learn==1.6.1 ; python_full_version == "3.12.7"
scipy==1.15.1 ; python_full_version == "3.12.7"
setuptools==75.8.0 ; python_full_version == "3.12.7"
shellingham==1.5.4 ; python_full_version == "3.12.7"
six==1.17.0 ; python_full_version == "3.12.7"
sniffio==1.3.1 ; python_full_version == "3.12.7"
sqlalchemy==2.0.37 ; python_full_version == "3.12.7"
structlog==25.1.0 ; python_full_version == "3.12.7"
tabulate==0.9.0 ; python_full_version == "3.12.7"
threadpoolctl==3.5.0 ; python_full_version == "3.12.7"
tomli==2.2.1 ; python_full_version == "3.12.7"
toposort==1.10 ; python_full_version == "3.12.7"
tqdm==4.67.1 ; python_full_version == "3.12.7"
typer==0.15.1 ; python_full_version == "3.12.7"
typing-extensions==4.12.2 ; python_full_version == "3.12.7"
tzdata==2025.1 ; python_full_version == "3.12.7"
umap-learn==0.5.7 ; python_full_version == "3.12.7"
universal-pathlib==0.2.6 ; python_full_version == "3.12.7"
uritemplate==4.1.1 ; python_full_version == "3.12.7"
urllib3==2.3.0 ; python_full_version == "3.12.7"
watchdog==5.0.3 ; python_full_version == "3.12.7"
wcwidth==0.2.13 ; python_full_version == "3.12.7"
wrapt==1.17.2 ; python_full_version == "3.12.7"
yarl==1.18.3 ; python_full_version == "3.12.7"
zipp==3.21.0 ; python_full_version == "3.12.7"
